<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Manager">


      <div class="container">
        <form [formGroup]="profileForm" class="form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Registrando Manager </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="FullName" matInput placeholder="Full Name">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="Email" matInput placeholder="Email">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="Telefono" matInput placeholder="Telefono">
                  </mat-form-field>
                </div>
               
              </div>
             
            </mat-card-content>
            <mat-card-actions>
              <button (click)="saveForm(profileForm.value)" mat-raised-button color="primary">Save</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>



    </mat-tab>
    <mat-tab label="Management">


      <div class="container">
        <form [formGroup]="profileForm2" class="form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Registrando Management </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="FullName" matInput placeholder="Full Name">
                  </mat-form-field>
                </div>
               <div class="col-md-3 "> 

                  <mat-form-field>
                    
                    <mat-label>ID Direction</mat-label>
                    
                    <mat-select>
                      <mat-option value="angular">DIRECCION DE B2B</mat-option>
                      <mat-option value="ionic">DIRECCION DE B2C</mat-option>
                      <mat-option value="rest">DIRECCION DE EXCELENCIA OPERACIONAL</mat-option>
                      <mat-option value="vue">DIRECCION DE FINANZAS Y CONTROL</mat-option>
                      <mat-option value="bash">DIRECCION DE PERSONAS</mat-option>
                      <mat-option value="bash">DIRECCION DE TECNOLOGIA</mat-option>
                    </mat-select>
                  </mat-form-field>
          
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="saveForm(profileForm2.value)" mat-raised-button color="primary">Save</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Suplleir">
      <div class="container">
        <form [formGroup]="profileForm3" class="form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Registrando Suplleir </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="FullName" matInput placeholder="Full Name">
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="saveForm(profileForm3.value)" mat-raised-button color="primary">Save</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Direction">
      <div class="container">
        <form [formGroup]="profileForm3" class="form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Registrando Direction </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="FullName" matInput placeholder="Full Name">
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="saveForm(profileForm4.value)" mat-raised-button color="primary">Save</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="NumberWorker">
      <div class="container">
        <form [formGroup]="profileForm4" class="form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Registrando NumberWorker </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="TrimestreUno" matInput placeholder="1Q">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="TrimestreDos" matInput placeholder="2Q">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="TrimestreTres" matInput placeholder="3Q">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="TrimestreCuatro" matInput placeholder="4Q">
                  </mat-form-field>
                </div>
                <div class="col-md-3 "> 

                  <mat-form-field>
                    
                    <mat-label>ID CONTRACT</mat-label>
                    
                    <mat-select>
                      <mat-option value="angular">CONTRACT 1</mat-option>
                      <mat-option value="ionic">CONTRACT 2</mat-option>
                      <mat-option value="rest">CONTRACT 3</mat-option>
                      <mat-option value="vue">CONTRACT 4</mat-option>
                      <mat-option value="bash">CONTRACT 5</mat-option>
                      <mat-option value="bash">CONTRACT 6</mat-option>
                    </mat-select>
                  </mat-form-field>
          
                </div>
              </div>
            </mat-card-content>

            <mat-card-actions>
              <button (click)="saveForm(profileForm5.value)" mat-raised-button color="primary">Save</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="ContractExpenses ">
      <div class="container">
        <form [formGroup]="profileForm4" class="form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Registrando ContractExpenses </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="FullName" matInput placeholder="Full Name">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="TrimestreUno" matInput placeholder="1Q">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="TrimestreDos" matInput placeholder="2Q">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="TrimestreTres" matInput placeholder="3Q">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <input formControlName="TrimestreCuatro" matInput placeholder="4Q">
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>

            <mat-card-actions>
              <button (click)="saveForm(profileForm6.value)" mat-raised-button color="primary">Save</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>